@import "_vars.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}


body {
	min-width: 320px;
  overflow-x: hidden;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: $black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}


button {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

button:active {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  background: #E5E5E5;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.btn {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 141.69%;
  color: #FFFFFF;
  background-color: $yellowOrange;
  padding: 12px 0;
}

.rent__slider,
.projects-slider,
.catalog-slider {
  .slick-btn {
    position: absolute;
    background-color: transparent;
    z-index: 9;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    border: 2px solid #FF971D;
  
    &.slick-disabled {
      border: 2px solid transparent;
      .slider-arr-wrapper svg path {fill: #C4C4C4;}
    }
    .slider-arr-wrapper {
      position: relative;
      height: 100%;
      svg {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        left: -15px;
      }
    }
  }
  .slick-prev {
    right: 87px;
    .slider-arr-wrapper svg {
      left: 15px;
    }
  }

}