@font-face {
  font-family: 'FuturaPt-Bold';
  src: url('../fonts/futura-pt-bold.woff2') format('woff2'),
  url('../fonts/futura-pt-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$yellowOrange: #FCB427;
$Orange: #FF971D;
$black: #2D2D2D;
$dirt: #535554;
$white: #F3F3F3;
$grey: #C4C4C4;


%h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: $black;
  line-height: 141.69%;
}

%h3 {
  font-weight: bold;
  font-size: 33px;
  line-height: 142.19%;
  font-family: 'PT Sans', sans-serif;
  color: $black;
}