@font-face {
  font-family: 'FuturaPt-Bold';
  src: url('../fonts/futura-pt-bold.woff2') format('woff2'),
  url('../fonts/futura-pt-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$yellowOrange: #FCB427;
$Orange: #FF971D;
$black: #2D2D2D;
$dirt: #535554;
$white: #F3F3F3;
$grey: #C4C4C4;


%h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 141.69%;
  line-height: 141.69%;
}

%h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: $black;
  line-height: 141.69%;
}

%h3 {
  font-weight: bold;
  font-size: 33px;
  line-height: 142.19%;
  font-family: 'PT Sans', sans-serif;
  color: $black;
}

%imgbox {
  position: relative;
  overflow: hidden;

}

%img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%btn-wrapper {
  margin-top: 30px;
  text-align: center;

}

%link-btn {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 141.69%;
  border: 1px solid #FCB427;

  &:hover {
    border: 1px dashed #FCB427;
  }

  &:active {
    border: 1px dotted #FCB427;
  }
}

%banner {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 255px;
  line-height: 124.19%;
  text-transform: uppercase;
  color: rgba(211, 208, 208, 0.2);
  transform: rotate(-90deg);
}